.wrapper {
  height: 100vh;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1719344248250-2ca4d8c8b239?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
}

.form {
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  height: 100vh;
  max-width: rem(450px);
  padding-top: rem(80px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}

.link {
  color: var(--mantine-color-primary-7);
  font-weight: bold;
  text-decoration: none;
}